<?xml version="1.0" encoding="utf-8"?>
<tables>
	<modules>
		<id>
			<params>
				<type>input</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</id>
		<title>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</title>
		<category>
			<params>
				<type>show</type>
				<validation>valid_category</validation>
				<required></required>
			</params>
			<value>
			</value>
		</category>
		<modules>
			<params>
				<type>params</type>
				<validation>valid_module</validation>
				<required></required>
			</params>
			<value>
			</value>
		</modules>
		<order1>
			<params>
				<type>input</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</order1>
		<date>
			<params>
				<type>date</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</date>
		<time>
			<params>
				<type>time</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</time>
		<shortcut>
			<params>
				<type>shortcut</type>
				<validation>valid_shortcut</validation>
				<required></required>
			</params>
			<value>
			</value>
		</shortcut>
		<position>
			<params>
				<type>position</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</position>
		<content>
			<params>
				<type>textarea</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</content>
		<published>
			<params>
				<type>select</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
				<published>1</published>
				<unpublished>0</unpublished>
			</value>
		</published>
		<username>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</username>
	</modules>
</tables>