<?xml version="1.0" encoding="utf-8"?>
<tables>
	<config>
		<id>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</id>
		<title>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</title>
		<emailadmin>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</emailadmin>
		<pause>
			<params>
				<type>select</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
				<yes>1</yes>
				<no>0</no>
			</value>
		</pause>
		<allow_regis>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</allow_regis>
		<regis_link>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</regis_link>
		<forbidden_pages>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</forbidden_pages>
		<forbidden_actions>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</forbidden_actions>
		<except_admin>
			<params>
				<type>input</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
			</value>
		</except_admin>
		<username>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</username>
	</config>
</tables>