<?xml version="1.0" encoding="utf-8"?>
<tables>
	<plugins>
		<id>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</id>
		<title>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</title>
		<date>
			<params>
				<type>date</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</date>
		<time>
			<params>
				<type>time</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</time>
		<default_shortcut>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</default_shortcut>
		<content>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</content>
		<publish>
			<params>
				<type>select</type>
				<validation></validation>
				<required>required</required>
			</params>
			<value>
				<published>1</published>
				<unpublished>0</unpublished>
			</value>
		</publish>
		<username>
			<params>
				<type>show</type>
				<validation></validation>
				<required></required>
			</params>
			<value>
			</value>
		</username>
	</plugins>
</tables>