body {
    background-color:#ffffff;
    font-size:13px;
    color:#444;
    margin:0px;
    padding:0px;
}

th {
	cursor: pointer;
}

th .glyphicon,
.media .glyphicon {
	font-size: inherit !important;
}

.form-control-feedback {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

tfoot .form-group {
	margin-bottom: 0px;
}

* {
	box-shadow: none !important;	
}

.navbar {
	margin-top:10px;
}

#editor {
	padding:1%;
	width: 100%;
	/*margin:1%;*/
}

#cke_editor {
	margin-top:15px;
}

.chosen-select {
	width:100%;
}

.navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color:#ffffff !important;
}

a { color:#444; text-decoration:underline; }

nav a { text-decoration:none; font-size:15px; }

input.form-control, 
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
.form-control[type="text"], 
.form-control[type="password"], 
.form-control[type="email"], 
.form-control[type="tel"], 
.form-control[contenteditable], 
select, 
select.form-control {
	font-size:13px;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0px 0px 0px 8px;
	height: 25px;
	border: 1px solid #AAA;
	border-radius: 5px;
	background: -moz-linear-gradient(center top , #FFF 20%, #F6F6F6 40%, #EEE 42%, #F4F4F4 60%) repeat scroll 0% 0% padding-box transparent;
	box-shadow: 0px 0px 3px #FFF inset, 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
}

textarea, 
textarea.form-control {
	border: 1px solid #AAA;
	box-shadow: 0px 0px 0.5px #666666 inset;
	padding-left:10px;
	padding:1%;
    width:98%;
}

.time-addon,
.date-addon {
	padding: 0px 8px;
}

.glyphicon.icon {
	font-size:30px;
}

input[type="radio"], 
.radio input[type="radio"], 
.radio-inline input[type="radio"] {
	margin-left:0px;
}

input[type="checkbox"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
	margin-left:0px;
}

.dropdown-menu {
	left: -1px;
}

table.table-info {
	margin-bottom: 15px;
	border-top: 2px solid #59afff;
    width:100%;
	background-color: rgba(255,255,255, 0.6);
}

h1 {
    margin-top:20px;
    margin-bottom:20px;
}

h1, .h1 {
	font-size:42px;
}

html {
    padding:0px;
    margin:0px;
}

.form-control, .btn {
	margin-top:5px;
	margin-bottom:5px;
	min-width:40px;
}

form ul li {
	padding-top:5px;
	margin-top:5px;
	border-top:1px dotted #dddddd;
}

#connexion {
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    background-color:#dddddd;
    border-radius:70px;
    padding:20px;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    -moz-box-shadow:0px 2px 10px 2px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow:0px 2px 10px 2px rgba(0,0,0,0.3) inset;
    box-shadow:0px 2px 10px 2px rgba(0,0,0,0.3) inset;
}

#connexion h1 {
    text-transform:uppercase;
    color:#000;
    font-size:30px;
}

#connexion input {
    width:60%;
    margin-left:auto;
    display:block;
    margin-right:auto;
    border-radius:5px;
    padding:5px;
    -moz-box-shadow:0px 2px 10px 2px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow:0px 2px 10px 2px rgba(0,0,0,0.3) inset;
    box-shadow:0px 2px 10px 2px rgba(0,0,0,0.3) inset;
}

#connexion input[type="submit"]{
    -moz-box-shadow:0px 2px 10px 2px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow:0px 2px 10px 2px rgba(255,255,255,0.4) inset;
    box-shadow:0px 2px 10px 2px rgba(255,255,255,0.4) inset;
    border:none;
    width:140px;
    text-transform:uppercase;
    font-size:10px;
}

.cpanel {
    width:100%;
    display:block;
}

.cpanel ul {
    max-width:500px;
    margin:0px;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    height:auto;
    overflow:hidden;
}

.cpanel ul li {
    list-style-type:none;
    display:block;
    float:left;
    width:100px;
    height:90px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    margin:10px;
    padding:20px;
    padding-top:30px;
    border:1px solid #666;
    background-color:#e9e9e9;
    border-radius:20px;
    color:#444444;
	box-sizing:content-box;
}

.cpanel ul li a {
    display:block;
    height:40%;
    width:100%;
}

.cpanel .footer {
    text-align:center;
}

table.table-info tr td {
    border-bottom:1px dotted #dddddd;
}

table.table-info > thead > tr > th,
table.table-info > tfoot > tr > th,
table.table-info > tbody > tr > td {
	padding:10px;
	margin:0px;
}

.dataTables_filter {
	display: none !important;
}

table.table-info > thead > tr > th input, table.table-info > thead > tr > th select,
table.table-info > tbody > tr > td input, table.table-info > tbody > tr > td select {
	margin:0px;
}

input[type="submit"] {
    display:block;
    clear:both;
}

.pagination-content{
    min-height:80px;
    height:auto;
    width:auto;
    min-width:100px;
    display:block;
    text-align:center;
}

.pagination-content .pagination{
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
    display:inline-block;
    background-color:#dddddd;
    padding:10px;
    text-decoration: none;
    color:#666666;
}

.reorder{
    margin-top:10px;
}

@media (max-width: 979px) {
    iframe {
        display:block;
        clear:both;
        height:100%;
    }

    .cke_editor_kama {
        height:400px;
    }
    .cke_wrapper {
        min-height:400px;
        overflow:auto;
    }
    
	.row {
		margin-top:30px;
	}
}

@media only screen and (max-width: 1100px) {
	/* Force table to not be like tables anymore */
    .list table,
    .list thead,
    .list tbody,
    .list th,
    .list td,
    .list tr {
        display: block;
    }

    .list tr { border-top: 2px dotted #dddddd; border-bottom: 2px dotted #dddddd; }

    .list td {
        border: none;
        border-bottom: 1px dotted #eeeeee;
        position: relative;
        white-space: normal;
        text-align:left;
    }
}

